body{
	background-color: #f1f1f1;
}

.main-content {
    width: 85%;
    margin: auto;
}

.d3-graph {
    display: inline-block;
    background: #fff;
    border-radius: 0.2rem;
    box-shadow: 0.1px 0.1px 1px #888;
    margin: 15px
}

.map-detail {
    display: inline-grid;
    vertical-align: bottom;
}

.d3-txt-bold {
    font-weight: bold;
}

.d3-txt {
    padding: 0 1rem 0 1rem;
    text-align: justify;
}

.goal {
    display: block;
    height: 2px;
    border: 0;
    /*border-top: 2px solid #FF0000;*/
    border-top: 2px solid #e6243c;
    margin: 1em 0;
    padding: 0;
}