.label3 {
    display: inline-block;
    width: 70px;
    font-size: 12px;
}

.h-bar {
    display: inline-block;
}

.main-title{
  text-align: center;
}

.amount {
    text-shadow: 0.2px 0.2px #000;
}